body { font-family:Helvetica,sans-serif; font-size:12pt; }
html,body { min-height:100%; height:100%; margin:0; padding:0; }

select,input,textarea {
  font-family:inherit;
  font-size:inherit;
  font-style:inherit;
  background-color:inherit;
  color:inherit;
}


#outer-wrapper {
  min-width: 1024px;
}
table { border-spacing:0; }

/********* HEADER */


/**** Dialogs ****/
div.button div.OK { float:right; }
div.ui-dialog { border:3px solid #888; }
div.ui-dialog div.ui-widget-content a { color: red; }
div.ui-dialog div.ui-dialog-titlebar { display:none; }
div.dateEdit { border:2px solid #888; padding:2px;}
#ui-datepicker-div { z-index:200 !important; }
div#dlg_sr_filterdate td { text-align:left; }
div#dlg_sr_adddate td { text-align:left; }
*{ outline:none; } /* remove blue border */
#dropdownmenu { 
  position: absolute; z-index:1000;
  text-align:left; max-width:600px;
}

span#title.italic {
  display:block;
}
.ui-icon.ui-icon-check {
  background-position:left top; /* jquery-ui bugfix */
  background-image:url(images/checkmark-checked.png);
  width:20px; height:20px;
}
.ui-icon.ui-icon-uncheck {
  background-image:url(images/checkmark-unchecked.png);
  width:20px; height:20px;
}
.searchheader { padding-bottom: 5px; }
table#dlg_ovv_tbl_user td { text-align: left; }
table#dlg_ovv_tbl_user a.red { color:#d8001c !important; }
table#dlg_ovv_tbl_userdetails td { text-align: left; }

/********* CONTENT **********/
.omm_div {padding: 5px 10px 50px 10px;clear:both;margin-top: 85px;}
.red { color:#d8001c; }
.black { color:#000; }
.italic { font-style:italic; }
a { color:#d8001c; text-decoration:none; }
a img { border:0; }                         /* IE8 */
img { vertical-align:text-bottom; }         /* Remove 3 white pixels at the bottom */
div.title {
  position: fixed;
  z-index: 1003;
  font-size: 120%;
  width: 100%;
  top: 0;
  min-height: 70px;         /* set min-height instead of height so height cann increase if title is wrapped on smaller screens */
  background-color: white;
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
  box-sizing:border-box;    /* set to border-box so padding won't change overall width */
  padding: 10px 370px 10px 20px;      /* add padding right to avoid text overlapping buttons and padding on the bottom for aesthetic reasons when title is wrapped */
}
div.title span[trid=hdrtab_lsovv] img {
  display:none; /* hide logo until further notice */
  margin-bottom:10px;
}

div.title #buttons {
  position:absolute;
  top: 30px;
  right: 10px;
  padding: 10px;
}
#closeHelp {
  position: absolute;
  font-size: 72%;
  top: 0;
  right: 0;
  color:red;
  width:350px;
  float:right;
  z-index: 1003;
  padding: 5px;
}
div.title img.btn { margin:0px 5px; width:24px; height:24px; cursor:pointer;}
div.title img.waiting { margin: 1px 10px; }
div.title #xliffSave { margin: 1px 10px; font-size: 0.6em; }
div.title #xliffClose { margin: 1px 10px; font-size: 0.6em; }
.helptext { padding-bottom:20px; }
.pointer { cursor:pointer; }
.glossary { text-decoration:underline; cursor:pointer; }

a.glossary img { width:20px; height:17px; }
#dwbovv_div table th img { width:16px; height:16px; float:right;}
.showId { font-size:75%; font-style:italic; }

table { width:100%; }
/* use this to shrink ID column */
/*
table colgroup col.xliffid {width:4em;}
table colgroup col.xliffsource {width:50%;}
table colgroup col.xlifftarget {width:50%;}
*/
table thead,table tbody { width:100%; }
table th { font-weight:lighter; font-style:italic; }
table td,th { text-align:center; padding:3px 8px; }
th      { background-color:#ffffff; }
tr.even { background-color:#ffffff; }
tr.odd  { background-color:#f3f3f3; }

tr td.xliffid {       /* use this if ID column is shrinked */
  /* white-space:nowrap; */
  /* overflow:hidden; */
  /* text-overflow:ellipsis; */
}


/**** Common: helptext, back, footer  *****/
div#footer {
  margin-top:5px;
  clear:both;
  width:100%;
  border-top:1px solid grey;
  padding:8px 0 8px 0;
  padding: 10px;
  position: fixed;
  display: block;
  bottom: 0;
  left: 0;
  z-index: 100001;
  background-color: white;
  font-weight:bold;  
}

div#footer.editMode {
  background-color: #8bd5e4;
}

/**** XLIFFOVV *****/
.mo_userline { font-weight:bold; padding-bottom:20px; }
#xliffovv_scrollarea {
  clear:both; width:100%;
  overflow:auto; position:relative;
}
#xliffovv_div {
  background-color:#e1e1e1;
  /*background-image:url(images/omm_tbllogo.png);*/
  background-repeat:no-repeat;
  background-position:left top; 
  padding: 0px 4px 10px 10px;
}
#xliffovv_div table th img { width:16px; height:16px; float:left;}
#xliffovv_tbl th,
#xliffovv_tbl td { text-align:left; vertical-align:top;}
#xliffovv_tbl tbody img { width:16px; height:16px; }
#xliffovv_tbl tbody img.glflash {
  height: 16px;
  width: auto;
  margin-right: 3px;
  margin-left: 3px;
}
#xliffovv_tbl thead th div {font-weight:bold; font-style:normal}
#xliffovv_tbl textarea { background-color:#fff7ce; border:0; width:100%; height:100%; }

/**** glossary ****/
.glgreen { 
  background-color:#CCFF99; 
}
.glred { 
  background-color:#FF9999;
}


#gloss tr td { text-align:left;}

#glosscontainer {
 clear: both;
 height: 485px;
 overflow: auto;
}
 
#gloss {
  background-repeat:no-repeat;
  background-position:left top;
  padding: 0px 4px 10px 64px;
  clear:both; overflow:auto; position:relative;
}

#hidecol {float: left;margin-left:10px;cursor: pointer;}
#hidecol input {width:1.25em; height:1.25em;vertical-align:middle;}
#hidecol span {vertical-align:middle;}
#hidecol img { width: 22px; height:22px; margin-right:5px; margin-bottom:2px;}
#status { float: right; font-style:italic; margin-right:10px;}
#status img { width: 14px; height:14px; margin-left:5px; margin-bottom:2px;}

#xliffovv_tbl col:nth-child(1) { width:28%; }
#xliffovv_tbl col:nth-child(2) { width: 36%; }
#xliffovv_tbl col:nth-child(3) { width: 36%; }

#xliffovv_tbl.id_hidden col:nth-child(1) { width: 50%; }
#xliffovv_tbl.id_hidden col:nth-child(2) { width: 50%; }
#xliffovv_tbl.id_hidden col:nth-child(3) { width: 0%; }

#xliffovv_tbl.id_hidden th.xliffid,
#xliffovv_tbl.id_hidden td.xliffid {
  display: none;
}

#xliffovvDetail tr td { text-align:left;}
#xliffovvDetail tr > td:first-child { font-weight:bold; font-style:normal; }
#xliffovvDetail tr td { font-style:italic; }

/**** fixed headers */
/* hide vertical scrollbar in IE8 */
#xliffovv_scrollarea.fixtable { overflow-x:auto;  overflow-y:hidden; }
table#xliffovv_tbl { position: relative; }
table#xliffovv_tbl { table-layout: fixed; }
table#xliffovv_tbl thead tr th { border-bottom:1px solid #e1e1e1; }
table#xliffovv_tbl, 
table#xliffovv_tbl thead tr th, 
table#xliffovv_tbl thead tr td { word-wrap: break-word!important; }
#xliffovv_tbl td.changed { background-color:#ffe88c; }
.fixedthead { position: absolute; top: 0; left: 0; }
.fixedtbody { position: absolute; top:10px; height:100px; overflow: auto; }


/* The snackbar - position it at the bottom and in the middle of the screen
   used for network offline connection
 */
#snackbar {
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: black; /* Black background color */
    color: white; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 30px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 100002; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
    opacity: 0;
    display: none;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.fadein {
   display: block;
   opacity: 0.5;
   -webkit-animation: fadein 0.5s;
   animation: fadein 0.5s;
}
#snackbar.fadeout {
   -webkit-animation: fadeout 0.5s;
   animation: fadeout 0.5s;
}

/* Animations to fade the snackbar in and out */

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 0.5;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 0.5; }
    to {bottom: 0; opacity: 0; display: none; }
}
